@font-face {
    font-family: Roboto-Regular;
    src: url('./font/Roboto-Regular.woff2');
}

body {
	background-color: #e9e9e9
}

.page-content {
	background-color: #e9e9e9;
}

/* Constant */
.btn.white:not(.btn-outline).bg-darkgreen, .bg-darkgreen {
	background-color: #009688;
	color: #fff;
}

.btn.white:not(.btn-outline).bg-darkpurple, .bg-darkpurple {
	background-color: #5c6bc0;
	color: #fff;
}

.btn.white:not(.btn-outline).bg-lightblue, .bg-lightblue {
	background: #5c9eff;
	color: #fff;
}

.btn.white:not(.btn-outline).color-lightgrey, .color-lightgrey { color: #9e9e9e; }
.btn.white:not(.btn-outline).color-lightgrey, .color-lightblue { color: #5c9eff; }
.btn.white:not(.btn-outline).color-lightgreen, .color-lightgreen { color: #009688; }
.color-label {
	color: #424242;
}

.right-align {
	margin-left: auto;
	float: right;
	clear: right;
}

.color-strong { color: #424242; }

.bg-lightgreen { color: #009688; }
.bg-white { background-color: #fff; }

.break-line {
	color: #e0e0e0;
}

.flex-right { margin-left: auto; }

.m-r-15 { margin-right: 15px; }
.m-l-15 { margin-left: 15px; }
.m-t-15 { margin-top: 15px; }
.m-b-15 { margin-bottom: 15px; }

.m-r-20 { margin-right: 20px; }
.m-l-20 { margin-left: 20px; }
.m-t-20 { margin-top: 20px; }
.m-b-20 { margin-bottom: 20px; }

.btn.white:not(.btn-outline) {
	border: 1px solid #e0e0e0;
	color: #757575;
}

.no-bottom { margin-bottom: 0px !important; }
.no-top { margin-top: 0px; padding-top: 0; }

.center-item {
	justify-content: center;
}

.text-center {
	text-align: center;
}

.no-padding {
	padding: 0 !important;
}

.flex-box { display: flex !important; }

.auto-full { height: 100%; }

.fa-facebook-official { color: #3b5998; }
.fa-twitter { color: #5c9eff; }
.locationPin {
	width: 18px;
	height: auto;
	margin-top: 4px;
}

.control-label {
	font-size: 14px;
	font-weight: 600;
}
.single-label {
	line-height: 30px;
}

.sub-header {
	color: #424242;
	font-weight: 600;
	font-size: 18px;
	padding: 16px 0;
}

.form-control {
	height: 37px;
}

/* Header */
.logo { height: 100%; }
.my-header-height {
	height: 80px;
}

/* Dashboard */
.upper-panel {
	display: flex;
	margin-bottom: 20px;
}
#royalty-edit {
	.btn-sm { width: 90px; }
}
.custom-profile-menu {
	padding-top: 15px;
	padding-bottom: 10px;

	li {
		padding: 13px 34px;
	}

	.icon-avatar { margin-right: 17px; }

	.description {
		color: #0d2445;
		font-size: 16px;
		font-weight: bold;
	}

	.icon-avatar i {
		font-size: 16px;
		color: #616161;
	}
}

.custom-portlet {

	.portlet-inner {
		padding: 32px;
	}

	.portlet_title {
		margin-bottom: 32px;
		color: #424242;
		font-size: 18px;
		font-weight: bold;
		/*font-family: Roboto;*/
	}

	.item-bottom-height {
		margin-bottom: 24px;
	}

	.item-header {
		display: flex;
	}

	.item-label {
		flex: 1;
		font-size: 16px;
		color: #424242;
		font-weight: bold;
	}

	.item-price {
		backgournd-color: #5c6bc0;
		color: #e63d30;
		font-size: 16px;
	}

	.item-description {
		color: #9e9e9e;
		font-size: 12px;
	}

	.button-grps {
		text-align: center;
		margin-bottom: 48px;
		display: flex;
	}

	.social-panel {
		display: flex;
		vertical-align: middle;
		align-items: center;
	}

	.fa-facebook-official {
		color: #3b5998;
	}

	.fa-instagram { color: #c23584; }

	.social-icon-wrapper {
		margin-right: 8px;

		i { font-size: 16px; }
	}
}

.send-coin { margin-right: 15px; }

.page-content .title {
	height: 78px;
    line-height: 78px;
    font-size: 18px;
    /*font-family: Roboto;*/
}

.promotion-panel {
	height: 153px;
    background: #009688;
    padding: 0 32px;

    .title {
    	color: #fff;
    }
}

.analytics-panel {
	padding: 0 32px;

    .title {
    	color: #424242;
    }

    .footer { 
    	text-align: center;

    	.btn { margin-bottom: 40px; }
    }
}

.caption-subject {
	font-weight: 600 !important;
	padding-left: 31px;
	padding-right: 31px;
}

.item {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #e0e0e0;
	padding: 24px 0;
}

.item-avatar { 
	width: 20%;

	img {
		width: 100%;
		height: auto;
	}
}

.item-description {
	width: 40%;
    padding: 0 0 0 24px;
    display: table;
    text-align: left;
    position: relative;

    strong {
    	display: table-row;
    }
}

.item-btn {
	width: 20%;
	text-align: center;
}

.item-switch {
	width: 20%;
	text-align: right;
	justify-content: center;

	strong {
		margin-left: auto;
		margin-right: 10px;
	}
}

.custom-switch {
	width: 53px;
	height: 30px;
	border-radius: 25px !important;
	background-color: #e3e5ef;
	cursor: pointer;

	.btn-circle {
		height: 30px;
		width: 53px;
		background: #e3e5ef;
		margin-left: auto;
	}
}

.custom-switch .ring {
	height: 28px;
    width: 28px;
    background: #5c9eff;
    border-radius: 50% !important;
    margin-left: 2px;
}

.ring-label { margin-left: 15px; }

.custom-switch.inactive .ring { margin-left: auto; background: #bdbdbd; }

.portlet.light.promotion-portlet { 
	padding: 28px 0px 35px;

	.content-panel {
		padding-left: 30px;
		padding-right: 30px;
	}
}

.my-image {
	width: 100%;
}

/* Create promotion page */
.promotion-header {
	height: 78px;
    padding-left: 63px;
    line-height: 78px;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid #efefef;
    background-color: #fff;
}

.promotion-body{
	padding: 17px 294px;
	background-color: #fff;

	section { margin-bottom: 25px; }

	button { height: 37px; }

	.e {
		margin: auto 15px;
	}
}

.promotion-footer {
	height: 118px;
	background-color: #fff;
	border-top: 1px solid #efefef;

	.footer-btn-wrapper {
		margin: 32px 297px 0 0;
		text-align: right;

		button { 
			width: 190px; 
			height: 37px; 
			font-size: 16px;
		    font-weight: 600;
			height: 37px;
		}
	}
}

.row-item {
	padding: 16px 0;
}

.row-item__title {
	font-size: 18px;
    font-weight: 600;
    padding-left: 15px;
    color: #424242;
}

.mt-checkbox>span, .mt-radio>span {
	background: #fff;
	border: 1px solid #bdbdbd;
}


.mt-radio>span:after {
	left: 5px;
    top: 5px;
    height: 6px;
    width: 6px;
    border-radius: 100%!important;
    background: #5c9eff;
}

.day-btn-group {
	display: flex;
	justify-content: space-between;

	.day-btn {
		width: 55px;
		border: 1px solid #e0e0e0;
		border-radius: 3px !important;
	}

	.day-btn.active { 
		border: 1px solid #5c9eff;
		background-color: #5c9eff;
		color: #fff;
	}
}

.btn-loc {
	border: 1px solid #e0e0e0;
}

.btn-loc.active { 
	border: 1px solid #5c9eff;
	background-color: #5c9eff;
	color: #fff;
}

.check-right-label { margin-left: 5px; }

.create-promotion-page {
	.control-label {
		font-size: 14px;
		font-weight: 600;
		/*line-height: 2.15; text-align: left;*/
	}
	.single-label { line-height: 2.15; }
	.mt-radio { color: #424242; font-size: 14px; font-weight: 600; }
	.ft-bold { color: #424242; font-size: 14px; font-weight: 600; }
}

.cke_inner { margin-left: 1px !important; }
.coin-wrapper { display: flex; }
.coin-wrapper input { height: 37px; }
.coin-switch-panel { 
	display: flex;
	widows: 60%;
}
.coin-input-panel {
	margin-left: auto;
}

#startTime, #endTime {
	height: 37px;
}

#coinAmount { text-indent: 5px; }
.profile-userpic {
	background: url('../styles/assets/pages/img/food-image2.png') no-repeat;
	background-size: cover;
	height: 256px;
	position: relative;
	display: block;

	.business-name {
		color: #fff;
	    font-size: 28px;
	    text-align: center;
	    justify-content: center;
	    align-items: center;
	    vertical-align: middle;
	    line-height: 450px;
	}
}

.business-image {
	height: 96px;
	background: url('../styles/assets/pages/img/food-image2.png') no-repeat;
	background-size: cover;
	margin: auto 15px;

	#upload-btn {
		margin-top: 50px;
		margin-left: 34px;
	}
}

.balehuValue { display: none; }

/* Chart */
#donut {
	height: 140px;
	margin-bottom: 25px;

	.legend { display: none; }
}

/* modal */
.modal-title {
	color: #424242;
	font-size: 18px;
	font-weight: 500;
}

.mt-checkbox:hover>input:not([disabled]):checked~span, 
.mt-checkbox>input:checked~span {
    webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    background: #5c9eff;
    color: #fff;
}

.mt-checkbox > span, .mt-radio > span {
    background: #fff;
    border: 1px solid #bdbdbd;
}

.mt-checkbox>span:after {
	left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.mt-radio:hover>input:not([disabled]):checked~span, 
.mt-radio>input:checked~span {
	webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    background-color: #fff;
    border-color: #5c9eff;
}

.dateTimePicker1 { z-index: 10000; }

/* login page */
.login-page {
	width: 664px;
}
.login-body {
	padding: 35px 63px;
	background-color: #fff;

	.form-group span {
		color: #424242;
	}

	.signup-btn { width: 192px; }
}
a.color-lightblue {
	text-decoration: none;
}
a.color-lightblue:hover { text-decoration: none; }
.appstore-icons { width: 150px; }
.download-app-page .row-item {
	padding: 16px 15px;
}

.transfer-coin {
	float: right;
	clear: right;
}

.resend-panel {
	display: flex;
	text-align: center;
	justify-content: center;
}

.common-modal {
	.modal-header {
		height: 78px;
    	padding: 32px 75px;
    	display: flex;
    	align-items: center;

    	span { margin-left: auto; }
	}
	.modal-body {
		padding: 0px;
		overflow-x: hidden;
	}
	.modal-title {
		font-size: 18px;
		font-weight: 600;
		color: #424242;
	}
	.row-item {
		padding: 16px 67px;
		margin-bottom: 16px;
    	margin-top: 16px;
	}

	.scan-btn { width: 120px; }

	.modal-footer {
		border: none;
		padding: 30px 67px 48px 67px;

		.btn {
			width: 195px;
			margin-right: 15px;
		}
	}

	.form-control { height: 37px; }
	.control-label { font-size: 14px; color: #000; }
	.single-label { line-height: 2.15; text-align: center; }

	.unit-price { 
		float: right;
	    margin-right: 20px;
	    margin-bottom: 15px;
	    color: #424242;
	    font-size: 12px;
	    font-weight: 600;
	}

	.amount-label {
		margin-top: 34px;
	}
}

#editloyalty {
	.row-item {
		padding: 6px 67px;
		margin-top: auto;
		margin-bottom: auto;    
	}

	.close {
		position: absolute;
	    right: -20px;
	    top: -20px;
	    width: 45px;
	    height: 45px;
	    border-radius: 50px !important;
	    background: white;
	    z-index: 100000;
	    opacity: 1;
		border: 1px solid;
	}

	.modal-title {
		text-align: center;
	    justify-content: center;
	    margin: 0 auto;
	    color: red;
	}

	.mt-checkbox-list {
		padding: 0;
	}

	.mt-checkbox {
		margin-bottom: 5px;
		padding-left: 20px;
	}

	input.form-control {
		background-color: #eeeeee;
	}

	.usd-val {
		position: absolute;
		right: 60px;
		margin-top: 10px;
		color: #666;
	}

	.modal-footer {
		text-align: center;
	}
}

@media (max-width: 1199px) {
	.send-coin { margin-right: 0;  margin-bottom: 15px; }
	.button-grps { display: block !important; }
	.promotion-header { padding-left: 50px; }
	.promotion-body { padding: 47px 67px; }
	.promotion-footer {
		.footer-btn-wrapper {
			margin: 32px 67px 0 0;
			text-align: right;
		}
	}
	
}

@media (max-width: 992px) {
	.upper-panel {
		display: block;
	}
	.end-time-group {
		margin-top: 15px;
	}
}

/* For All promotions panel */
@media (max-width: 660px) {
	.item { display: block; }
	.item-avatar { width: auto; margin-bottom: 24px; }
	.item-description { 
		width: 100%; 
		margin-bottom: 24px; 
		padding: 0; 
		text-align: center; 
		justify-content: center;
	}
	.item-btn {
	    width: auto;
	    text-align: center;
	    margin-bottom: 24px;
	}
	.item-switch {
		margin: 0 auto;
		text-align: center;
		justify-content: center;
	}

	.promotion-footer .footer-btn-wrapper button { width: auto; }
}

@media (max-width: 572px) {
	.promotion-header { padding-left: 20px; }
	.promotion-body { padding: 47px 20px; }
}

@media (max-width: 400px) {
	.coin-wrapper { display: block; }
	.coin-input-panel {
		margin-top: 25px;
	}
	.day-btn-group { display: block; }
	.input-medium { width: 100% !important; }
	.coinAmount { width: 100%; }
}