.section {
  margin: 0;
  padding: 0;
}

.center-item {
	justify-content: center;
}

.text-center {
	text-align: center;
}

.m-r-25 { margin-right: 25px; }
.m-l-25 { margin-left: 25px; }
.m-b-25 { margin-bottom: 25px; }
.m-t-25 { margin-top: 25px; }