#responsive {
	.modal-header {
		height: 78px;
    	padding: 32px 75px;
    	display: flex;
    	align-items: center;

    	span { margin-left: auto; }
	}
	.modal-body {
		padding: 0px;
		overflow-x: hidden;
	}
	.modal-title {
		font-size: 18px;
		font-weight: 600;
		color: #424242;
	}
	.content-logo {
		background: url('../../styles/assets/pages/img/food-image2.png') no-repeat;
		background-size: 100%;
		height: 96px;

		a {
			margin-left: 75px;
			margin-top: 50px;
		}
	}
	.row-item {
		padding: 16px 67px;
		margin-bottom: 16px;
    	margin-top: 16px;
	}

	.modal-footer {
		border: none;
		padding: 30px 67px 48px 67px;

		.btn {
			width: 195px;
		}
	}

	.form-control { height: 37px; }
	.control-label { font-size: 14px; color: #000; }
	.single-label { line-height: 2.15; text-align: center; }
}